<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PlateUpInstallDir>C:\Program Files (x86)\Steam\steamapps\common\PlateUp\PlateUp</PlateUpInstallDir>
    <PlateUpWorkshopDir>C:\Program Files (x86)\Steam\steamapps\workshop\content\1599600</PlateUpWorkshopDir>
    <PlateUpModsDir>$(PlateUpInstallDir)\Mods</PlateUpModsDir>
  </PropertyGroup>
</Project>
